.jumbotron {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
}

table {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}